
<ion-content class="event-detail">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/scores"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!ios">{{which}}'s score</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="event-background">
  </div>

  <ion-header collapse="condense">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/scores"></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-title size="large">{{which}}'s score</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card class="score-check">
      <ion-card-content>
        <ion-list lines="none">
          <ion-item *ngIf="which === 'Player'" detail="false">
            <ion-col class="ion-text-center">Hole</ion-col>
            <ion-col class="ion-text-center">Score I put</ion-col>
            <ion-col class="ion-text-center">Score Marker put</ion-col>
            <ion-col class="ion-text-center">Score OK?</ion-col>
          </ion-item>
          <ion-item *ngIf="which != 'Player'" detail="false">
            <ion-col class="ion-text-center">Hole</ion-col>
            <ion-col class="ion-text-center">Score {{which}} put</ion-col>
            <ion-col class="ion-text-center">Score I put</ion-col>
            <ion-col class="ion-text-center">Score OK?</ion-col>
          </ion-item>
          <ion-item *ngFor="let score of scores" detail="false">
            <ion-col class="ion-text-center">{{score?.holeNumber}}</ion-col>
            <ion-col class="ion-text-center">{{score?.self}}</ion-col>
            <ion-col class="ion-text-center">{{score?.marker}}</ion-col>
            <ion-col *ngIf="score?.ok" class="ion-text-center">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-col>
            <ion-col *ngIf="!score?.ok" class="ion-text-center">
              <ion-icon name="alert-circle-outline"  color='danger'></ion-icon>
            </ion-col>
          </ion-item>
            <!--

          <ion-item *ngFor="let hole of viewScore?.holes" detail="false">
            <ion-col class="ion-text-center">{{hole?.number}}</ion-col>
            <ion-col class="ion-text-center">{{hole?.par}}</ion-col>
            <ion-col *ngIf= "getHoleScoreForHole(viewScore?.holescores, hole?.number).self != getHoleScoreForHole(viewScore?.holescores, hole?.number).marker" class="ion-text-center">
              <ion-item color="danger">{{this.getHoleScoreForHole(viewScore?.holescores, hole?.number).self}}</ion-item>
            </ion-col>
            <ion-col *ngIf= "getHoleScoreForHole(viewScore?.holescores, hole?.number).self === getHoleScoreForHole(viewScore?.holescores, hole?.number).marker" class="ion-text-center">{{this.getHoleScoreForHole(viewScore?.holescores, hole?.number).self}}</ion-col>
            <ion-col *ngIf= "getHoleScoreForHole(viewScore?.holescores, hole?.number).self != getHoleScoreForHole(viewScore?.holescores, hole?.number).marker" class="ion-text-center">
              <ion-item color="danger">{{this.getHoleScoreForHole(viewScore?.holescores, hole?.number).marker}}</ion-item>
            </ion-col>
            <ion-col *ngIf= "getHoleScoreForHole(viewScore?.holescores, hole?.number).self === getHoleScoreForHole(viewScore?.holescores, hole?.number).marker" class="ion-text-center">{{this.getHoleScoreForHole(viewScore?.holescores, hole?.number).marker}}</ion-col>
          </ion-item>
          -->


        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button *ngIf="canSign" expand="block" (click)="sign()">Sign</ion-button>
            <!--
            <ion-col class="ion-text-center">{{markedPlayer.firstName}}</ion-col>

      <ion-card-header>
        <ion-item detail="false" lines="none" class="score-item">
          <ion-avatar slot="start">
            <ion-icon name="golf-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{todayScore?.event?.name}}</h2>
            <h3>Round {{todayScore?.round}}</h3>
            <p>{{todayScore?.event?.type}}</p>
            <p>{{todayScore?.startTime}}</p>
            <p>You are marking: <strong>{{markedPlayer.firstName}} {{markedPlayer.lastName}}</strong></p>
          </ion-label>
          <ion-icon slot="end" name="clipboard-outline"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item *ngFor="let hole of todayScore?.holes" detail="false" (click)="presentActionSheet(hole?.number)">
            <ion-col class="ion-text-center">{{hole?.number}}</ion-col>
            <ion-col class="ion-text-center">{{hole?.length}}</ion-col>
            <ion-col class="ion-text-center">{{hole?.par}}</ion-col>
            <ion-col class="ion-text-center">{{hole?.holeHandicap}}</ion-col>
            <ion-col class="ion-text-center">{{this.getHoleScoreForHole(todayScore.holescores, hole?.number).self}}</ion-col>
            <ion-col class="ion-text-center">{{this.getHoleScoreForHole(markedScore?.holescores, hole?.number).marker}}</ion-col>
          </ion-item>
          -->

</ion-content>
