<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/leaderboard-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Leaderboard</ion-title>
    <ion-buttons *ngIf="(segment != 'Totals')" slot="end">
      <ion-label>Mobile</ion-label>
      <ion-toggle [(ngModel)]="mobview"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="Totals">
      <ion-label>Total</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngFor="let round of [1,2,3,4] | slice:0:numberOfRounds" value="Round {{round}}">
      <ion-label>Round {{round}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/leaderboard-list"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Leaderboard</ion-title>
      <ion-buttons *ngIf="(segment != 'Totals')" slot="end">
        <ion-label>Mobile</ion-label>
        <ion-toggle [(ngModel)]="mobview"></ion-toggle>
      </ion-buttons>
    </ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="Totals">
        <ion-label>Total</ion-label>
      </ion-segment-button>
      <span *ngIf="numberOfRounds > 1">
        <ion-segment-button *ngFor="let round of [1,2,3,4] | slice:0:numberOfRounds" value="Round {{round}}">
          <ion-label>Round {{round}}</ion-label>
        </ion-segment-button>
      </span>
    </ion-segment>
  </ion-header>

  <div *ngIf="(segment == 'Totals')">
    <ion-card>
      <ion-card-header>
        <ion-item detail="false" lines="none" class="leaderboard">
          <ion-avatar slot="start">
            <ion-icon name="clipboard-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <p>Event:</p>
            <h2>{{leaderboard.event.name}}</h2>
            <h3>Round {{leaderboard.event.round}} {{leaderboard.event.date}}</h3>
            <p>Course:</p>
            <h2>{{leaderboard.course.name}}</h2>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <p>Hole</p>
                  <p>Par</p>
                </ion-col>
                <ion-col *ngFor="let hole of leaderboard.course.holespar">
                  <p>{{hole.holenum}}</p>
                  <p>{{hole.par}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item detail="true" *ngFor="let line of ldb_tot" routerLink="/app/tabs/leaderboard-list/leaderboard-mob/player-detail/{{eventId}}/{{line.userId}}">
            <ion-grid>
              <ion-row>
                <ion-col>{{line.position}}</ion-col>
                <ion-col size="3">
                  <p>{{line.player}}</p>
                  <p>{{line.clubName}}</p>
                </ion-col>
                <ion-col>
                  <p>Total</p>
                  <p><strong>{{line.total}}</strong></p>
                </ion-col>
                <ion-col>
                  <p>Thru</p>
                  <p><strong>{{line.thru}}</strong></p>
                </ion-col>
                <ion-col>
                  <p>Today</p>
                  <p><strong>{{line.today}}</strong></p>
                </ion-col>
                <ion-col>
                  <p>Stroke</p>
                  <p><strong>{{line.stroke}}</strong></p>
                </ion-col>
                <ion-col>
                  <p>R1</p>
                  <p><strong>{{line.day1Stroke}}</strong></p>
                </ion-col>
                <ion-col *ngIf="numberOfRounds > 1">
                  <p>R2</p>
                  <p><strong>{{line.day2Stroke}}</strong></p>
                </ion-col>
                <ion-col *ngIf="numberOfRounds > 2">
                  <p>R3</p>
                  <p><strong>{{line.day3Stroke}}</strong></p>
                </ion-col>
                <ion-col *ngIf="numberOfRounds > 3">
                  <p>R4</p>
                  <p><strong>{{line.day4Stroke}}</strong></p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngFor="let round of [1,2,3,4] | slice:0:numberOfRounds">

    <div *ngIf="(segment === ('Round '+round))">

      <div *ngIf="(!mobview)">
        <ion-card>
          <ion-card-header>
            <ion-item detail="false" lines="none" class="leaderboard">
              <ion-avatar slot="start">
                <ion-icon name="clipboard-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>{{event?.name}}</h2>
                <h3>Round {{round}}</h3>
                <p>{{event?.type}}</p>
                <p>{{event?.date}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-grid class="leaderboard_nomobile">
              <ion-row>
                <ion-col size="1">P</ion-col>
                <ion-col size="10">Name</ion-col>
                <ion-col size="1">H</ion-col>
                <ion-col size="1">1</ion-col>
                <ion-col size="1">2</ion-col>
                <ion-col size="1">3</ion-col>
                <ion-col size="1">4</ion-col>
                <ion-col size="1">5</ion-col>
                <ion-col size="1">6</ion-col>
                <ion-col size="1">7</ion-col>
                <ion-col size="1">8</ion-col>
                <ion-col size="1">9</ion-col>
                <ion-col size="3">Out</ion-col>
                <ion-col size="1">10</ion-col>
                <ion-col size="1">11</ion-col>
                <ion-col size="1">12</ion-col>
                <ion-col size="1">13</ion-col>
                <ion-col size="1">14</ion-col>
                <ion-col size="1">15</ion-col>
                <ion-col size="1">16</ion-col>
                <ion-col size="1">17</ion-col>
                <ion-col size="1">18</ion-col>
                <ion-col size="3">In</ion-col>
                <ion-col size="3">Stroke</ion-col>
                <ion-col size="2">Thru</ion-col>
                <ion-col size="2">Total</ion-col>
                <ion-col size="2">Net</ion-col>
                <ion-col size="3">Stableford</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="10"></ion-col>
                <ion-col size="1"></ion-col>
                <ion-col *ngFor="let hole of scores[round-1]?.course?.holes  | slice:0:9" size="1">{{ hole?.par }}</ion-col>
                <ion-col size="3">{{ scores[round-1]?.course?.out }}</ion-col>
                <ion-col *ngFor="let hole of scores[round-1]?.course?.holes  | slice:9:19" size="1">{{ hole?.par }}</ion-col>

                <ion-col size="3">{{ scores[round-1]?.course?.in }}</ion-col>
                <ion-col size="3">{{ scores[round-1]?.course?.stroke }}</ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="2"></ion-col>
                <ion-col size="3"></ion-col>
              </ion-row>
              <ion-row *ngFor="let score of scores[round-1]?.detailedScores">
                <ion-col size="1">{{ score?.position }}</ion-col>
                <ion-col size="10">{{ score?.player }}</ion-col>
                <ion-col size="1">{{ score?.playingHandicap }}</ion-col>
                <ion-col size="1" class="{{score?.result1}}">{{ score?.hole1 }}</ion-col>
                <ion-col size="1" class="{{score?.result2}}">{{ score?.hole2 }}</ion-col>
                <ion-col size="1" class="{{score?.result3}}">{{ score?.hole3 }}</ion-col>
                <ion-col size="1" class="{{score?.result4}}">{{ score?.hole4 }}</ion-col>
                <ion-col size="1" class="{{score?.result5}}">{{ score?.hole5 }}</ion-col>
                <ion-col size="1" class="{{score?.result6}}">{{ score?.hole6 }}</ion-col>
                <ion-col size="1" class="{{score?.result7}}">{{ score?.hole7 }}</ion-col>
                <ion-col size="1" class="{{score?.result8}}">{{ score?.hole8 }}</ion-col>
                <ion-col size="1" class="{{score?.result9}}">{{ score?.hole9 }}</ion-col>
                <ion-col size="3">{{ score?.outHoles }}</ion-col>
                <ion-col size="1" class="{{score?.result10}}">{{ score?.hole10 }}</ion-col>
                <ion-col size="1" class="{{score?.result11}}">{{ score?.hole11 }}</ion-col>
                <ion-col size="1" class="{{score?.result12}}">{{ score?.hole12 }}</ion-col>
                <ion-col size="1" class="{{score?.result13}}">{{ score?.hole13 }}</ion-col>
                <ion-col size="1" class="{{score?.result14}}">{{ score?.hole14 }}</ion-col>
                <ion-col size="1" class="{{score?.result15}}">{{ score?.hole15 }}</ion-col>
                <ion-col size="1" class="{{score?.result16}}">{{ score?.hole16 }}</ion-col>
                <ion-col size="1" class="{{score?.result17}}">{{ score?.hole17 }}</ion-col>
                <ion-col size="1" class="{{score?.result18}}">{{ score?.hole18 }}</ion-col>
                <ion-col size="3">{{ score?.inHoles }}</ion-col>
                <ion-col size="3">{{ score?.stroke }}</ion-col>
                <ion-col size="2">{{ score?.thru }}</ion-col>
                <ion-col size="2">{{ score?.total }}</ion-col>
                <ion-col size="2">{{ score?.net }}</ion-col>
                <ion-col size="3">{{ score?.stableford }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="(mobview)">
        <ion-card class="leaderboard-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="leaderboard">
              <ion-avatar slot="start">
                <ion-icon name="clipboard-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <p>Event:</p>
                <h2>{{event?.name}} - {{event?.type}}</h2>
                <h3>Round {{round}} {{event?.date}}</h3>
                <p>Course:</p>
                <h2>{{scores[round-1]?.course?.name}}</h2>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <p>Hole</p>
                      <p>Par</p>
                    </ion-col>
                    <ion-col *ngFor="let hole of scores[round-1]?.course.holespar | slice:0:9; let holenum = index">
                      <p>{{holenum+1}}</p>
                      <p>{{hole.par}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p>Hole</p>
                      <p>Par</p>
                    </ion-col>
                    <ion-col *ngFor="let hole of scores[round-1]?.course.holespar | slice:9:18; let holenum = index">
                      <p>{{holenum+1}}</p>
                      <p>{{hole.par}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <!--ion-item detail="false" *ngFor="let player of leaderboard.players" -->
              <ion-item detail="false" *ngFor="let score of scores[round-1]?.detailedScores">

                <ion-avatar>{{score.position}}</ion-avatar>
                <ion-label>
                  {{score.player}}
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <p>hcp</p>
                        <p><strong>{{score.playingHandicap}}</strong></p>
                      </ion-col>
                      <ion-col>
                        <p>stroke</p>
                        <p><strong>{{score.stroke}}</strong></p>
                      </ion-col>
                      <ion-col>
                        <p>thru</p>
                        <p><strong>{{score.thru}}</strong></p>
                      </ion-col>
                      <ion-col>
                        <p>total</p>
                        <p><strong>{{score.total}}</strong></p>
                      </ion-col>
                      <ion-col>
                        <p>net</p>
                        <p><strong>{{score.net}}</strong></p>
                      </ion-col>
                      <ion-col>
                        <p>stableford</p>
                        <p><strong>{{score.stableford}}</strong></p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                    </ion-row>
                    <ion-row>
                      <ion-col class="{{score?.result1}}">
                        <p>1</p>
                        <p><strong>{{score?.hole1}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result2}}">
                        <p>2</p>
                        <p><strong>{{score?.hole2}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result3}}">
                        <p>3</p>
                        <p><strong>{{score?.hole3}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result4}}">
                        <p>4</p>
                        <p><strong>{{score?.hole4}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result5}}">
                        <p>5</p>
                        <p><strong>{{score?.hole5}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result6}}">
                        <p>6</p>
                        <p><strong>{{score?.hole6}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result7}}">
                        <p>7</p>
                        <p><strong>{{score?.hole7}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result8}}">
                        <p>8</p>
                        <p><strong>{{score?.hole8}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result9}}">
                        <p>9</p>
                        <p><strong>{{score?.hole9}}</strong></p>
                      </ion-col>
                      <ion-col>
                        <p>OUT</p>
                        <p><strong>{{score?.outHoles}}</strong></p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="{{score?.result10}}">
                        <p>10</p>
                        <p><strong>{{score?.hole10}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result11}}">
                        <p>11</p>
                        <p><strong>{{score?.hole11}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result12}}">
                        <p>12</p>
                        <p><strong>{{score?.hole12}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result13}}">
                        <p>13</p>
                        <p><strong>{{score?.hole13}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result14}}">
                        <p>14</p>
                        <p><strong>{{score?.hole14}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result15}}">
                        <p>15</p>
                        <p><strong>{{score?.hole15}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result16}}">
                        <p>16</p>
                        <p><strong>{{score?.hole16}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result17}}">
                        <p>17</p>
                        <p><strong>{{score?.hole17}}</strong></p>
                      </ion-col>
                      <ion-col class="{{score?.result18}}">
                        <p>18</p>
                        <p><strong>{{score?.hole18}}</strong></p>
                      </ion-col>
                      <ion-col>
                        <p>IN</p>
                        <p><strong>{{score?.inHoles}}</strong></p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>

    </div>

  </div>
</ion-content>
