<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment">
      <ion-segment-button value="Today">
        Today
      </ion-segment-button>
      <ion-segment-button value="All">
        All
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios">Scores</ion-title>
    <ion-buttons slot="end" *ngIf="segment === 'Today' && foundTodayScore">
      <ion-button routerLink="/app/tabs/scores/event/{{todayScore?.eventId}}/{{todayScore?.round}}">
        <span *ngIf="ios">Marked</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="people-outline"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="Today">
        Today
      </ion-segment-button>
      <ion-segment-button value="All">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scores</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="segment === 'Today'">
    <span *ngIf="!foundTodayScore">
      <ion-label>
        <ion-item color="tertiary">
          No events found for today!
        </ion-item>
      </ion-label>
    </span>
    <span *ngIf="foundTodayScore && !foundMarkedPlayer">
      <ion-label>
        <ion-item color="warning" routerLink="/app/tabs/scores/event/{{todayScore?.eventId}}/{{todayScore?.round}}">
          You did not select the player you are marking! Tap on this message to select
          the player that you have been assigned for marking.
        </ion-item>
      </ion-label>
    </span>
    <span *ngIf="foundTodayScore && foundMarkedPlayer && selfMark">
      <ion-label>
        <ion-item color="warning" routerLink="/app/tabs/scores/event/{{todayScore?.eventId}}/{{todayScore?.round}}">
          You cannot mark yourself! Click on this message to select
          the player that you have been assigned for marking.
        </ion-item>
      </ion-label>
    </span>
    <span *ngIf="foundTodayScore">
      <ion-card class="score-card">
        <ion-card-header>
          <ion-item detail="false" lines="none" class="score-item"
            routerLink="/app/tabs/scores/mark-detail/{{todayScore?.eventId}}/{{todayScore?.round}}">
            <ion-avatar slot="start">
              <ion-icon name="golf-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{todayScore?.event?.name}}</h2>
              <h3>Round {{todayScore?.round}}</h3>
              <p>{{todayScore?.event?.type}}</p>
              <p>{{todayScore?.startTime}}</p>
              <p>You are marking: <strong>{{markedPlayer.firstName}} {{markedPlayer.lastName}}</strong></p>
            </ion-label>
            <ion-icon slot="end" name="people-outline"></ion-icon>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item detail="false">
              <ion-col>Hole</ion-col>
              <ion-col>Length</ion-col>
              <ion-col>Par</ion-col>
              <ion-col>Handicap</ion-col>
              <ion-col>Self</ion-col>
              <ion-col>{{markedPlayer.firstName}}</ion-col>
              <ion-col></ion-col>
            </ion-item>
            <ion-item *ngFor="let hole of todayScore?.holes" detail="false"
              routerLink="/app/tabs/scores/score-details/{{todayScore.id}}/{{todayScore?.eventId}}/{{todayScore.round}}/{{hole?.number}}/Par: {{hole?.par}} - Hcp: {{hole?.holeHandicap}}">
              <ion-col>{{hole?.number}}</ion-col>
              <ion-col>{{hole?.length}}</ion-col>
              <ion-col>{{hole?.par}}</ion-col>
              <ion-col>{{hole?.holeHandicap}}</ion-col>
              <ion-col>{{this.findSelfScoreForHole(todayScore.holescores, hole?.number)}}</ion-col>
              <ion-col>{{this.findMarkedScoreForHole(todayScore.holescores, hole?.number)}}</ion-col>
              <ion-col><ion-icon name="create-outline"></ion-icon></ion-col>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </span>
  </div>

  <div *ngIf="segment === 'All'">
    <ion-grid fixed>
      <ion-row>
        <span *ngFor="let score of scores">
          <ion-col size="12" size-md="6">
            <ion-card class="score-card">
              <ion-card-header>
                <ion-item detail="false" lines="none" class="score-item">
                  <ion-avatar slot="start">
                    <ion-icon name="golf-outline"></ion-icon>
                  </ion-avatar>
                  <ion-label>
                    <h2>{{score?.event?.name}}</h2>
                    <h3>Round {{score?.round}}</h3>
                    <p>{{score?.event?.type}}</p>
                    <p>{{score?.startTime}}</p>
                  </ion-label>
                </ion-item>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  <ion-item detail="false">
                    <ion-col>Hole</ion-col>
                    <ion-col>Length</ion-col>
                    <ion-col>Par</ion-col>
                    <ion-col>Handicap</ion-col>
                    <ion-col>Score</ion-col>
                  </ion-item>
                  <ion-item *ngFor="let hole of score.holes" detail="false">
                    <ion-col>{{hole?.number}}</ion-col>
                    <ion-col>{{hole?.length}}</ion-col>
                    <ion-col>{{hole?.par}}</ion-col>
                    <ion-col>{{hole?.holeHandicap}}</ion-col>
                    <ion-col>{{this.findMarkedScoreForHole(score.holescores, hole?.number)}}</ion-col>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </span>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
