.leaderboard {
  display: flex;
  flex-direction: column;
}

/* Due to the fact the cards are inside of columns the margins don't overlap
 * properly so we want to remove the extra margin between cards
 */
ion-col:not(:last-of-type) .leaderboard {
  margin-bottom: 0;
}



ion-col {
    --ion-grid-columns: 56;
    font-size: 12px;
    flex: 0 0 4;
    padding:0;
    background: #cfe0f3;
    background-clip: padding-box;
    border: 1px solid transparent;
    color: #454b50;
}

.leaderboard .leaderboard-item {
  --min-height: 85px;
}

.leaderboard .leaderboard-item h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.leaderboard .leaderboard-item p {
  font-size: 8px;
  letter-spacing: 0.02em;
}

.leaderboard ion-card-header {
  padding: 0;
}

.leaderboard ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

.ios ion-list {
  margin-bottom: 10px;
}

.md ion-list {
  border-top: 1px solid var(--ion-color-step-150, #d7d8da);

  padding: 0;
}
.leaderboardheader {
    background-color: ghostwhite;
    border-radius: 10px;
    font-weight: bold;
}

.leaderboardcontent {
    background-color: white;
    font-weight: normal;
}

.par {
    border-radius: 100%;
    padding: 4px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    background-color: #78898C;
    color: white;
}

.birdie {
    border-radius: 100%;
    padding: 4px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    background-color: #FF3C00;
    color: #FFF;
    font-weight: bold;
}

.double {
    border-radius: 100%;
    padding: 4px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    background-color: #000000;
    color: white;
    font-weight: bold;
}

.eagle {
    border-radius: 100%;
    padding: 4px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    background-color: hsl(58, 100%, 50%);
    color: #000000;
    font-weight: bold;
}

.bogey {
    border-radius: 100%;
    padding: 4px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    background-color: #0F3077;
    color: #FFF;
    font-weight: bold;
}

