  <ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/leaderboard-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!ios"size="large">{{ scores[0]?.detailedScores[0]?.player }}</ion-title>
    <ion-buttons slot="end">
      <ion-label>Mobile</ion-label>
      <ion-toggle [(ngModel)]="mobview"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ scores[0]?.detailedScores[0]?.player }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="(!mobview)">
    <ion-card>
      <ion-card-header>
        <ion-item detail="false" lines="none" class="leaderboard">
          <ion-avatar slot="start">
            <ion-icon name="clipboard-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{scores[0]?.event?.name}}</h2>
            <p>{{scores[0]?.event?.type}}</p>
            <p>{{scores[0]?.event?.date}}</p>
          </ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-grid class="leaderboard_nomobile">
          <ion-row>
            <ion-col size="2" class="ion-text-center">Round</ion-col>
            <ion-col size="1" class="ion-text-center">1</ion-col>
            <ion-col size="1" class="ion-text-center">2</ion-col>
            <ion-col size="1" class="ion-text-center">3</ion-col>
            <ion-col size="1" class="ion-text-center">4</ion-col>
            <ion-col size="1" class="ion-text-center">5</ion-col>
            <ion-col size="1" class="ion-text-center">6</ion-col>
            <ion-col size="1" class="ion-text-center">7</ion-col>
            <ion-col size="1" class="ion-text-center">8</ion-col>
            <ion-col size="1" class="ion-text-center">9</ion-col>
            <ion-col size="2" class="ion-text-center">Out</ion-col>
            <ion-col size="1" class="ion-text-center">10</ion-col>
            <ion-col size="1" class="ion-text-center">11</ion-col>
            <ion-col size="1" class="ion-text-center">12</ion-col>
            <ion-col size="1" class="ion-text-center">13</ion-col>
            <ion-col size="1" class="ion-text-center">14</ion-col>
            <ion-col size="1" class="ion-text-center">15</ion-col>
            <ion-col size="1" class="ion-text-center">16</ion-col>
            <ion-col size="1" class="ion-text-center">17</ion-col>
            <ion-col size="1" class="ion-text-center">18</ion-col>
            <ion-col size="2" class="ion-text-center">In</ion-col>
            <ion-col size="3" class="ion-text-center">Stroke</ion-col>
            <ion-col size="2" class="ion-text-center">Thru</ion-col>
            <ion-col size="2" class="ion-text-center">Total</ion-col>
            <ion-col size="2" class="ion-text-center">Net</ion-col>
            <ion-col size="2" class="ion-text-center">Stblfr</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2" class="ion-text-center">Par</ion-col>
            <ion-col *ngFor="let hole of scores[0]?.course?.holes  | slice:0:9" size="1" class="ion-text-center">{{ hole?.par }}</ion-col>
            <ion-col size="2" class="ion-text-center">{{ scores[0]?.course?.out }}</ion-col>
            <ion-col *ngFor="let hole of scores[0]?.course?.holes  | slice:9:19" size="1" class="ion-text-center">{{ hole?.par }}</ion-col>

            <ion-col size="2" class="ion-text-center">{{ scores[0]?.course?.in }}</ion-col>
            <ion-col size="3" class="ion-text-center">{{ scores[0]?.course?.stroke }}</ion-col>
            <ion-col size="2" class="ion-text-center"></ion-col>
            <ion-col size="2" class="ion-text-center"></ion-col>
            <ion-col size="2" class="ion-text-center"></ion-col>
            <ion-col size="2" class="ion-text-center"></ion-col>
          </ion-row>
          <ion-row *ngFor="let score of scores[0]?.detailedScores; let holenum = index">
            <ion-col size="2" class="ion-text-center">R{{holenum+1}}</ion-col>
            <ion-col size="1" class="{{score?.result1}}" class="ion-text-center">{{ score?.hole1 }}</ion-col>
            <ion-col size="1" class="{{score?.result2}}">{{ score?.hole2 }}</ion-col>
            <ion-col size="1" class="{{score?.result3}}">{{ score?.hole3 }}</ion-col>
            <ion-col size="1" class="{{score?.result4}}">{{ score?.hole4 }}</ion-col>
            <ion-col size="1" class="{{score?.result5}}">{{ score?.hole5 }}</ion-col>
            <ion-col size="1" class="{{score?.result6}}">{{ score?.hole6 }}</ion-col>
            <ion-col size="1" class="{{score?.result7}}">{{ score?.hole7 }}</ion-col>
            <ion-col size="1" class="{{score?.result8}}">{{ score?.hole8 }}</ion-col>
            <ion-col size="1" class="{{score?.result9}}">{{ score?.hole9 }}</ion-col>
            <ion-col size="2" class="ion-text-center">{{ score?.outHoles }}</ion-col>
            <ion-col size="1" class="{{score?.result10}}">{{ score?.hole10 }}</ion-col>
            <ion-col size="1" class="{{score?.result11}}">{{ score?.hole11 }}</ion-col>
            <ion-col size="1" class="{{score?.result12}}">{{ score?.hole12 }}</ion-col>
            <ion-col size="1" class="{{score?.result13}}">{{ score?.hole13 }}</ion-col>
            <ion-col size="1" class="{{score?.result14}}">{{ score?.hole14 }}</ion-col>
            <ion-col size="1" class="{{score?.result15}}">{{ score?.hole15 }}</ion-col>
            <ion-col size="1" class="{{score?.result16}}">{{ score?.hole16 }}</ion-col>
            <ion-col size="1" class="{{score?.result17}}">{{ score?.hole17 }}</ion-col>
            <ion-col size="1" class="{{score?.result18}}">{{ score?.hole18 }}</ion-col>
            <ion-col size="2" class="ion-text-center">{{ score?.inHoles }}</ion-col>
            <ion-col size="3" class="ion-text-center">{{ score?.stroke }}</ion-col>
            <ion-col size="2" class="ion-text-center">{{ score?.thru }}</ion-col>
            <ion-col size="2" class="ion-text-center">{{ score?.total }}</ion-col>
            <ion-col size="2" class="ion-text-center">{{ score?.net }}</ion-col>
            <ion-col size="2" class="ion-text-center">{{ score?.stableford }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="(mobview)">
    <!--
    <ion-card class="leaderboard-card">
      <ion-card-header>
        <ion-item detail="false" lines="none" class="leaderboard">
          <ion-avatar slot="start">
            <ion-icon name="clipboard-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <p>Event:</p>
            <h2>{{scores[0]?.event?.name}}</h2>
            <h3>{{scores[0]?.event?.date}}</h3>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <p>Hole</p>
                  <p>Par</p>
                </ion-col>
                <ion-col *ngFor="let hole of leaderboard.course.holespar | slice:0:9">
                  <p>{{hole.holenum}}</p>
                  <p>{{hole.par}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>Hole</p>
                  <p>Par</p>
                </ion-col>
                <ion-col *ngFor="let hole of leaderboard.course.holespar | slice:9:18">
                  <p>{{hole.holenum}}</p>
                  <p>{{hole.par}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item detail="false" *ngFor="let player of leaderboard.players">
            <ion-avatar>{{player.pos_display}}</ion-avatar>
            <ion-label>
              {{player.name}}
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <p>hcp</p>
                    <p><strong>{{player.hcp}}</strong></p>
                  </ion-col>
                  <ion-col>
                    <p>stroke</p>
                    <p><strong>{{player.stroke}}</strong></p>
                  </ion-col>
                  <ion-col>
                    <p>thru</p>
                    <p><strong>{{player.thru}}</strong></p>
                  </ion-col>
                  <ion-col>
                    <p>total</p>
                    <p><strong>{{player.total}}</strong></p>
                  </ion-col>
                  <ion-col>
                    <p>net</p>
                    <p><strong>{{player.net}}</strong></p>
                  </ion-col>
                  <ion-col>
                    <p>stableford</p>
                    <p><strong>{{player.stableford}}</strong></p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngFor="let hole of player.holes | slice:0:9">
                    <p>{{hole.holenum}}</p>
                    <p *ngIf="hole.marked > 0">
                      <ion-text>
                        <strong>
                          {{hole.marked}}
                        </strong>
                      </ion-text>
                    </p>
                  </ion-col>
                  <ion-col>
                    <p>OUT</p>
                    <p>{{player.out}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngFor="let hole of player.holes | slice:9:18">
                    <p>{{hole.holenum}}</p>
                    <p *ngIf="hole.marked > 0">
                      <strong>
                        {{hole.marked}}
                      </strong>
                    </p>
                  </ion-col>
                  <ion-col>
                    <p>IN</p>
                    <p *ngIf="player.in > 0">{{player.in}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>

          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>
  -->
  </div>

</ion-content>
